In [0]:
from google.colab import drive
drive.mount('/gdrive')

In [11]:
%cd /gdrive/My\ Drive/Colab\ Notebooks/db

/gdrive/My Drive/Colab Notebooks/db

In [0]:
!wget https://data.nasa.gov/api/views/gh4g-9sfh/rows.csv?accessType=DOWNLOAD
!mv 'rows.csv?accessType=DOWNLOAD' meteorite.csv

In [0]:
import pandas as pd
import numpy as np

In [25]:
df_meteorites = pd.read_csv('meteorite.csv')
df_meteorites.sample(5)

                              name     id  ...    reclong             GeoLocation
6783                     Daraj 112   6571  ...   11.77639    (29.66472, 11.77639)
11932      Frontier Mountain 01169  10351  ...  160.52222  (-72.95278, 160.52222)
34434  Queen Alexandra Range 97800  21255  ...  168.00000          (-84.0, 168.0)
19172        Larkman Nunatak 06327  49591  ...    0.00000              (0.0, 0.0)
35504  Queen Alexandra Range 99877  22321  ...  168.00000          (-84.0, 168.0)

[5 rows x 10 columns]

## Data Loading
---

In [26]:
df_meteorites.shape

(45716, 10)

In [27]:
df_meteorites.describe()

                 id      mass (g)        reclat       reclong
count  45716.000000  4.558500e+04  38401.000000  38401.000000
mean   26889.735104  1.327808e+04    -39.122580     61.074319
std    16860.683030  5.749889e+05     46.378511     80.647298
min        1.000000  0.000000e+00    -87.366670   -165.433330
25%    12688.750000  7.200000e+00    -76.714240      0.000000
50%    24261.500000  3.260000e+01    -71.500000     35.666670
75%    40656.750000  2.026000e+02      0.000000    157.166670
max    57458.000000  6.000000e+07     81.166670    354.473330

In [28]:
df_meteorites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  object
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.5+ MB

In [29]:
df_meteorites.dtypes

name            object
id               int64
nametype        object
recclass        object
mass (g)       float64
fall            object
year            object
reclat         float64
reclong        float64
GeoLocation     object
dtype: object

In [30]:
# Each column now uses the best dtype for its data
df_meteorites.convert_dtypes().dtypes

name            string
id               Int64
nametype        string
recclass        string
mass (g)       float64
fall            string
year            string
reclat         float64
reclong        float64
GeoLocation     string
dtype: object

## Pandas utilities
---

### Categories

In [0]:
df_meteorites[['nametype', 'fall']] = df_meteorites[['nametype', 'fall']].astype('category')

In [35]:
df_meteorites.dtypes

name             object
id                int64
nametype       category
recclass         object
mass (g)        float64
fall           category
year             object
reclat          float64
reclong         float64
GeoLocation      object
dtype: object

In [36]:
df_meteorites['fall'].unique()

[Fell, Found]
Categories (2, object): [Fell, Found]

In [37]:
df_meteorites['fall'].value_counts()

Found    44609
Fell      1107
Name: fall, dtype: int64

### get_dummies

In [0]:
df_meteorites[['fell', 'found']] = pd.get_dummies(df_meteorites['fall'])

In [44]:
df_meteorites.sample()

               name     id nametype  ...             GeoLocation  fell found
21675  Lookout Hill  14697    Valid  ...  (-30.09056, 128.80583)     0     1

[1 rows x 12 columns]

### DateTimes

In [0]:
df_meteorites['year'] = pd.to_datetime(
    df_meteorites['year'], 
    errors='coerce', 
    format='%m/%d/%Y %H:%M:%S %p'
  )

In [47]:
df_meteorites.dtypes

name                   object
id                      int64
nametype             category
recclass               object
mass (g)              float64
fall                 category
year           datetime64[ns]
reclat                float64
reclong               float64
GeoLocation            object
fell                    uint8
found                   uint8
dtype: object

### Rename

In [0]:
df_meteorites.rename({'mass (g)': 'mass'}, axis='columns', inplace=True)

In [58]:
df_meteorites.columns

Index(['name', 'id', 'nametype', 'recclass', 'mass', 'fall', 'year', 'reclat',
       'reclong', 'GeoLocation', 'fell', 'found'],
      dtype='object')

## Borrar Datos
---

### Drop

In [61]:
# List of rows/columns names and axis
df_meteorites['ones'] = 1
df_meteorites.drop(['ones'], axis=1, inplace=True)
df_meteorites.head()

       name   id nametype  ...           GeoLocation  fell found
0    Aachen    1    Valid  ...     (50.775, 6.08333)     1     0
1    Aarhus    2    Valid  ...  (56.18333, 10.23333)     1     0
2      Abee    6    Valid  ...    (54.21667, -113.0)     1     0
3  Acapulco   10    Valid  ...     (16.88333, -99.9)     1     0
4   Achiras  370    Valid  ...   (-33.16667, -64.95)     1     0

[5 rows x 12 columns]

In [0]:
# List of rows or/and columns
df_meteorites.drop(columns=['id', 'recclass'], index=[0, 2, 4, 6], inplace=True)

### Copy

In [0]:
df_meteorites_copy = df_meteorites.copy()