In [0]:
import pandas as pd
import numpy as np

In [0]:
DATASET_URL = 'https://storage.googleapis.com/kagglesdsdata/datasets/376751/731448/london_merged.csv?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1590260137&Signature=Jlbw60BdVqFKn87Bg0QXUnGhlqMMqkqZmF0SxlrEI0PzStLux5%2BbLspaTh9N4fvLdMtJTZcna5KSED1KPQcgQB2bbFZcATtcqowHXpmBym7wLLLDQvRO14N6x93qnUey%2BoiMbIldKsm8wswfbTAMESfoaNVIUpsMIm%2Bvz3Wt3hMOyTsKh6hjD672Vym5BApFfyx9iFdYcbazEv%2F7qw6xtjslgEdb%2BR%2BU%2FLalTmGuufjZ18XXEpzh7U5AnLJaXPezU9QahMacsi%2Brdq5KiAhbX%2FwH%2BtZbGqSw%2BsVhuS4tlGsEYQ8nPYmlt44IUH7o%2BxPO7t2ZKFbg0XyrPiexU2laSA%3D%3D&response-content-disposition=attachment%3B+filename%3Dlondon_merged.csv'
df_lmerged = pd.read_csv(DATASET_URL)

## Dataset Cleaning
---

In [0]:
df_lmerged['timestamp'] = pd.to_datetime(df_lmerged['timestamp'])

In [6]:
df_lmerged['hour'] = df_lmerged['timestamp'].dt.hour
df_lmerged['hour']

0         0
1         1
2         2
3         3
4         4
         ..
17409    19
17410    20
17411    21
17412    22
17413    23
Name: hour, Length: 17414, dtype: int64

In [0]:
df_lmerged.drop(['timestamp'], axis=1, inplace=True)

cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
hour              int64
dtype: object

## Math functions
---

In [12]:
## Basic math functions
(df_lmerged['wind_speed'] ** 2)*10-11+1

0         350.0
1         240.0
2         -10.0
3         -10.0
4         412.5
          ...
17409    3600.0
17410    4400.0
17411    5750.0
17412    5280.0
17413    4830.0
Name: wind_speed, Length: 17414, dtype: float64

In [13]:
## numpy functions
np.sin(df_lmerged['wind_speed'])

0       -0.279415
1       -0.958924
2        0.000000
3        0.000000
4        0.215120
           ...
17409    0.149877
17410    0.836656
17411   -0.905578
17412   -0.846220
17413   -0.008851
Name: wind_speed, Length: 17414, dtype: float64

In [16]:
# Substraction. Fill_value fills Nan values because dataframes are not of same length
df_lmerged['wind_speed'].iloc[::3].sub(df_lmerged['wind_speed'], fill_value=1000)

0           0.0
1         995.0
2        1000.0
3           0.0
4         993.5
          ...
17409       0.0
17410     979.0
17411     976.0
17412       0.0
17413     978.0
Name: wind_speed, Length: 17414, dtype: float64

## Complex math functions and lambda functions
---

In [19]:
# Apply to every value lambda function. It recieves the value and th eargs list
df_lmerged['hour'].apply(lambda x, magic: x+magic, args=[24])

0        24
1        25
2        26
3        27
4        28
         ..
17409    43
17410    44
17411    45
17412    46
17413    47
Name: hour, Length: 17414, dtype: int64

In [21]:
# The same but args are kwords arguments now
df_lmerged['hour'].apply(lambda x, magic: x+magic, magic=24)

0        24
1        25
2        26
3        27
4        28
         ..
17409    43
17410    44
17411    45
17412    46
17413    47
Name: hour, Length: 17414, dtype: int64

In [27]:
# Apply for a DataFrame gives to lambda every column as a serie
df_lmerged.apply(lambda x: x.mean())

cnt             1143.101642
t1                12.468091
t2                11.520836
hum               72.324954
wind_speed        15.913063
weather_code       2.722752
is_holiday         0.022051
is_weekend         0.285403
season             1.492075
hour              11.513265
dtype: float64

In [28]:
df_lmerged.apply(lambda x: x.mean(), axis=1)

0         29.30
1         24.75
2         24.25
3         18.40
4         15.75
          ...
17409    117.30
17410     67.60
17411     47.45
17412     35.90
17413     27.10
Length: 17414, dtype: float64

In [30]:
# Maps every DataFrame value
df_lmerged.applymap(lambda x: x/100)

         cnt     t1     t2    hum  ...  is_holiday  is_weekend  season  hour
0       1.82  0.030  0.020  0.930  ...         0.0        0.01    0.03  0.00
1       1.38  0.030  0.025  0.930  ...         0.0        0.01    0.03  0.01
2       1.34  0.025  0.025  0.965  ...         0.0        0.01    0.03  0.02
3       0.72  0.020  0.020  1.000  ...         0.0        0.01    0.03  0.03
4       0.47  0.020  0.000  0.930  ...         0.0        0.01    0.03  0.04
...      ...    ...    ...    ...  ...         ...         ...     ...   ...
17409  10.42  0.050  0.010  0.810  ...         0.0        0.00    0.03  0.19
17410   5.41  0.050  0.010  0.810  ...         0.0        0.00    0.03  0.20
17411   3.37  0.055  0.015  0.785  ...         0.0        0.00    0.03  0.21
17412   2.24  0.055  0.015  0.760  ...         0.0        0.00    0.03  0.22
17413   1.39  0.050  0.010  0.760  ...         0.0        0.00    0.03  0.23

[17414 rows x 10 columns]