In [0]:
import pandas as pd
import numpy as np

In [0]:
df_pop = pd.read_csv('Population.csv').drop('Unnamed: 0', axis=1)
df_sample = df_pop.query('year>=2015')

In [3]:
df_sample['year'] = pd.Categorical(df_sample['year'].apply(str))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [4]:
idx_filtro = df_sample['country'].isin(['Aruba', 'Colombia'])
df_sample = df_sample.loc[idx_filtro]
df_sample

        country  year         pop
14520     Aruba  2015    104341.0
14563  Colombia  2015  47520667.0
14784     Aruba  2016    104872.0
14827  Colombia  2016  48171392.0
15048     Aruba  2017    105366.0
15091  Colombia  2017  48901066.0
15312     Aruba  2018    105845.0
15355  Colombia  2018  49648685.0

## Create index
---

In [5]:
df_sample = df_sample.set_index(['country', 'year']).sort_index()
df_sample

                      pop
country  year
Aruba    2015    104341.0
         2016    104872.0
         2017    105366.0
         2018    105845.0
Colombia 2015  47520667.0
         2016  48171392.0
         2017  48901066.0
         2018  49648685.0

## Locate using indexes
---

In [23]:
df_sample.loc['Colombia'].loc['2018']

pop    49648685.0
Name: 2018, dtype: float64

In [25]:
df_sample.loc[('Colombia', '2018')]

pop    49648685.0
Name: (Colombia, 2018), dtype: float64

In [33]:
df_sample.xs('2018', level=1)
# The same that:
df_sample.xs('2018', level='year')

                 pop
country
Aruba       105845.0
Colombia  49648685.0

In [34]:
df_sample.xs(['Aruba', '2018'])

pop    105845.0
Name: (Aruba, 2018), dtype: float64

In [36]:
df_countries = df_pop.set_index(['country', 'year']).sort_index()
df_countries

                         pop
country     year
Afghanistan 1960   8996973.0
            1961   9169410.0
            1962   9351441.0
            1963   9543205.0
            1964   9744781.0
...                      ...
Zimbabwe    2014  13586681.0
            2015  13814629.0
            2016  14030390.0
            2017  14236745.0
            2018  14439018.0

[15576 rows x 1 columns]

In [48]:
ids = pd.IndexSlice
df_countries.loc[ids['Aruba': 'Austria', '2015':'2018'], :]

                       pop
country   year
Aruba     2015    104341.0
          2016    104872.0
          2017    105366.0
          2018    105845.0
Australia 2015  23815995.0
          2016  24190907.0
          2017  24601860.0
          2018  24982688.0
Austria   2015   8642699.0
          2016   8736668.0
          2017   8797566.0
          2018   8840521.0

In [52]:
df_countries.index.get_level_values('country')
# The same that:
df_countries.index.get_level_values(0)

Index(['Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan',
       'Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan',
       'Afghanistan', 'Afghanistan',
       ...
       'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe',
       'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe'],
      dtype='object', name='country', length=15576)

## Some utils
---

In [62]:
df_countries.sum(level='year').loc[2010:2015]

               pop
year
2010  7.301678e+10
2011  7.393615e+10
2012  7.487138e+10
2013  7.582320e+10
2014  7.678367e+10
2015  7.774756e+10

In [72]:
df_sample

                      pop
country  year
Aruba    2015    104341.0
         2016    104872.0
         2017    105366.0
         2018    105845.0
Colombia 2015  47520667.0
         2016  48171392.0
         2017  48901066.0
         2018  49648685.0

In [73]:
df_sample.unstack('year')

                 pop
year            2015        2016        2017        2018
country
Aruba       104341.0    104872.0    105366.0    105845.0
Colombia  47520667.0  48171392.0  48901066.0  49648685.0